/* Common */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  color: #fff;
  background-color: #111;
  min-width: 100vw;
}

a {
  color: #fff;
}

section .row {
  padding: 80px;
}

/* Navbar */
.navbar-brand {
  height: 100px;
  padding: 40px 30px;
}

.nav {
  padding: 25px 15px;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  border: none;
}

.navbar-default ul.nav >li> a {
  color: #fff;
}

.navbar-nav>li>a.icon {
  padding: 15px 5px;
}

.navbar-brand img {
  width: inherit;  /* This makes the next two lines work in IE8. */
  max-width: 50%; /* Add !important if needed. */
  height: auto;    /* Add !important if needed. */
}

/* Header */
header {
  background-size:cover;
  background-image: url("../images/glad2besad.jpg");
  width: 100%;
  height: 500px;
  display: flex;             /* establish flex container */
  align-items: center;       /* center ul container vertically */
  justify-content: center;   /* center ul container horizontally (optional) */
  color: #fff;
}

header h1 {
  font-weight: bolder;
  font-size: 5em;
}

/* Section - Who Are We */
section.who-are-we {
  background-color: #222;
}

section.who-are-we h2 {
  font-size: 4em;
}

section.who-are-we .row {
  padding: 100px;
  display: flex;             /* establish flex container */
  align-items: center;       /* center ul container vertically */
  justify-content: center;   /* center ul container horizontally (optional) */
}

section.who-are-we img {
  width: 100%;  /* This makes the next two lines work in IE8. */
  max-width: 100%; /* Add !important if needed. */
  height: auto;    /* Add !important if needed. */
}

/* Section - Services */
section.services {
  background-color: #111;
  text-align: center;
}

section.services .row {
  padding-top: 30px;
}

section.services h1 {
  padding: 30px;
  font-size: 4em;
}

/* Footer */
footer {
  background-color: #111;
  padding: 20px;
}

footer ul {
  list-style: none;
  padding: 15px 0;
}

/*****************/
/* About Us Page */
/*****************/

/* About Us */
section.about-us {
  background-color: #fff;
  color: #000;
  text-align: center;
}

section.about-us button {
  background-color: #000;
  color: #fff;
}

/*****************/
/* Clients Page */
/*****************/

/* Client Spotlight */
section.client-spotlight {
  background-color: #fff;
  color: #000;
  text-align: center;
}

/* Client List */
section.client-list {
  background-color: #111;
  color: #fff;
  text-align: center;
}

section.client-list img {
  width: 100%;  /* This makes the next two lines work in IE8. */
  max-width: 100%; /* Add !important if needed. */
  height: auto;    /* Add !important if needed. */
}
